{% extends "./base.html" %}


{% block title %}<title>赞助作者 | 韦艳莹的博客</title>{% endblock %}


{% block page_content %}
    <div class="pageDiv donatePageDiv">
        <div class="pageNavigation breadcrumb">
            <li><a href="{{ url_for('.home')}}"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
            <li><a href="{{ url_for('.donate') }}">赞助作者</a></li>
            <li class="active"></li>
        </div>
        <div class="donateContent">
			<div class="donateWays">
				<span class="donateThanks">如果您觉得我的文章对您有用，请随意打赏（扫描下方二维码）。您的支持就是博主更新的动力！</span>
				<span class="donatePageImg">
					<span><img src="../static/wechart.png" width="165px"/></span>
					<span><img src="../static/zhifubao.png" width="160px"/></span>
				</span>
				<span class="donatePageImgPage">
					<span>
						<img src="../static/wechartpage.png" width="165x" height="38px" />
					</span>
					<span>
						<img src="../static/zhifubaopage.png" width="160px" height="38px" />
					</span>
				</span>
			</div>
		</div>
	</div>
{% endblock %}


